KD-CRM-DF/templates/CRMCustomer Move files/CRMCustomer Move files.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"CRMCustomerCommifyMIProd": {
			"type": "string"
		},
		"CRMCustomerDataLakeStorage": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CRMCustomer Move files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetCSVList",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Write import start to log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "RawContainer",
								"type": "DatasetReference"
							},
							"fieldList": [
								"childItems",
								"itemName",
								"lastModified"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"modifiedDatetimeStart": {
									"value": "@{activity('Get last run start').output.firstrow.runtime}",
									"type": "Expression"
								}
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "LoopThroughFiles",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "ignore wsb",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('ignore wsb').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "LogfileCopy",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Move CSV to validate folder",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[CRMCustomerValidation].[WriteToLog]",
										"storedProcedureParameters": {
											"eventType": {
												"value": "File Prep",
												"type": "String"
											},
											"filename": {
												"value": {
													"value": "@item().name",
													"type": "Expression"
												},
												"type": "String"
											},
											"Result": {
												"value": "Moving file",
												"type": "String"
											},
											"runid": {
												"value": {
													"value": "@pipeline().parameters.runID",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('CRMCustomerCommifyMIProd')]",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Move CSV to validate folder",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "CRMCustomerRawNamed",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "CRMCustomerNamed",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Get CRMCustomer csvs",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "GetCSVList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetCSVList').output.childitems",
								"type": "Expression"
							},
							"condition": {
								"value": "@greater(indexof(item().name, 'CRMCustomer'),0)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Write import start to log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Get last run start",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[CRMCustomerValidation].[WriteToLog]",
							"storedProcedureParameters": {
								"eventType": {
									"value": "File Prep",
									"type": "String"
								},
								"Result": {
									"value": "Start",
									"type": "String"
								},
								"runID": {
									"value": {
										"value": "@pipeline().parameters.runID",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "[parameters('CRMCustomerCommifyMIProd')]",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Get last run start",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[CRMCustomerValidation].[GetLastRunStart]",
								"storedProcedureParameters": {
									"Reset": {
										"type": "Boolean",
										"value": {
											"value": "@pipeline().parameters.StartFromMidnight",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "CRMCustomerRaw",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "If new files",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "LoopThroughFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(activity('Get CRMCustomer csvs').output.itemsCount,0)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Write no new files to log",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[CRMCustomerValidation].[WriteToLog]",
										"storedProcedureParameters": {
											"eventType": {
												"value": "File Prep",
												"type": "String"
											},
											"filename": {
												"value": null,
												"type": "String"
											},
											"Result": {
												"value": "No new files to import",
												"type": "String"
											},
											"runid": {
												"value": {
													"value": "@pipeline().parameters.runID",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('CRMCustomerCommifyMIProd')]",
										"type": "LinkedServiceReference"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Write import end to log",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[CRMCustomerValidation].[WriteToLog]",
										"storedProcedureParameters": {
											"eventType": {
												"value": "File Prep",
												"type": "String"
											},
											"Result": {
												"value": {
													"value": "@concat(activity('Get CRMCustomer csvs').output.itemsCount, ' new files moved from raw to be processed')",
													"type": "Expression"
												},
												"type": "String"
											},
											"runid": {
												"value": {
													"value": "@pipeline().parameters.runID",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('CRMCustomerCommifyMIProd')]",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "ignore wsb",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get CRMCustomer csvs",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get CRMCustomer csvs').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@and(not(startswith(item().name,'mobyt')), and(not(startswith(item().name,'SMSENVOI')), and(not(startswith(item().name,'SKEBBY')), not(startswith(item().name,'TRENDOO')))))",
								"type": "Expression"
							}
						}
					}
				],
				"concurrency": 1,
				"parameters": {
					"runID": {
						"type": "int"
					},
					"StartFromMidnight": {
						"type": "bool"
					}
				},
				"variables": {
					"filename": {
						"type": "String"
					},
					"start datetime": {
						"type": "String"
					},
					"New Files": {
						"type": "Boolean"
					}
				},
				"folder": {
					"name": "CRMCustomerValidation"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/RawContainer')]",
				"[concat(variables('factoryId'), '/datasets/CRMCustomerRaw')]",
				"[concat(variables('factoryId'), '/datasets/CRMCustomerRawNamed')]",
				"[concat(variables('factoryId'), '/datasets/CRMCustomerNamed')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RawContainer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('CRMCustomerDataLakeStorage')]",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CRMCustomerValidation"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "customerUniqueID",
						"type": "String"
					},
					{
						"name": "platformName",
						"type": "String"
					},
					{
						"name": "brandName",
						"type": "String"
					},
					{
						"name": "brandCountry",
						"type": "String"
					},
					{
						"name": "firstName",
						"type": "String"
					},
					{
						"name": "lastName",
						"type": "String"
					},
					{
						"name": "phoneNumber",
						"type": "String"
					},
					{
						"name": "mobileNumber",
						"type": "String"
					},
					{
						"name": "mobileVerified",
						"type": "String"
					},
					{
						"name": "contactEmail",
						"type": "String"
					},
					{
						"name": "language",
						"type": "String"
					},
					{
						"name": "lastPlatformSessionDate",
						"type": "String"
					},
					{
						"name": "leadOwner",
						"type": "String"
					},
					{
						"name": "sourceCode",
						"type": "String"
					},
					{
						"name": "sourceDetail",
						"type": "String"
					},
					{
						"name": "leadSource",
						"type": "String"
					},
					{
						"name": "leadStatus",
						"type": "String"
					},
					{
						"name": "engagementType",
						"type": "String"
					},
					{
						"name": "lastModified",
						"type": "String"
					},
					{
						"name": "communicationPreferences",
						"type": "String"
					},
					{
						"name": "companyName",
						"type": "String"
					},
					{
						"name": "companyCity",
						"type": "String"
					},
					{
						"name": "companyCountry",
						"type": "String"
					},
					{
						"name": "industry",
						"type": "String"
					},
					{
						"name": "website",
						"type": "String"
					},
					{
						"name": "platformAccountURL",
						"type": "String"
					},
					{
						"name": "accountCreatedDate",
						"type": "String"
					},
					{
						"name": "accountType",
						"type": "String"
					},
					{
						"name": "accountManager",
						"type": "String"
					},
					{
						"name": "accountBillingType",
						"type": "String"
					},
					{
						"name": "billingAddress",
						"type": "String"
					},
					{
						"name": "accountCurrency",
						"type": "String"
					},
					{
						"name": "accountCurrencySymbol",
						"type": "String"
					},
					{
						"name": "accountPrepayBalance",
						"type": "String"
					},
					{
						"name": "isWhiteLabel",
						"type": "String"
					},
					{
						"name": "isAffiliate",
						"type": "String"
					},
					{
						"name": "isDeleted",
						"type": "String"
					},
					{
						"name": "isBlocked",
						"type": "String"
					},
					{
						"name": "blockedDate",
						"type": "String"
					},
					{
						"name": "partnerAccount",
						"type": "String"
					},
					{
						"name": "howServiceUsed",
						"type": "String"
					},
					{
						"name": "lastMessageReceivedDate",
						"type": "String"
					},
					{
						"name": "isReferral",
						"type": "String"
					},
					{
						"name": "saasPackageType",
						"type": "String"
					},
					{
						"name": "saasPackageStartDate",
						"type": "String"
					},
					{
						"name": "isSWReferral",
						"type": "String"
					},
					{
						"name": "ExportStatus",
						"type": "String"
					},
					{
						"name": "secondaryEmail",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CRMCustomerRaw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('CRMCustomerCommifyMIProd')]",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CRMCustomerValidation"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "customerUniqueID",
						"type": "varchar"
					},
					{
						"name": "platformName",
						"type": "varchar"
					},
					{
						"name": "brandName",
						"type": "varchar"
					},
					{
						"name": "brandCountry",
						"type": "varchar"
					},
					{
						"name": "firstName",
						"type": "varchar"
					},
					{
						"name": "lastName",
						"type": "varchar"
					},
					{
						"name": "phoneNumber",
						"type": "varchar"
					},
					{
						"name": "mobileNumber",
						"type": "varchar"
					},
					{
						"name": "mobileVerified",
						"type": "varchar"
					},
					{
						"name": "contactEmail",
						"type": "varchar"
					},
					{
						"name": "secondaryEmail",
						"type": "varchar"
					},
					{
						"name": "language",
						"type": "varchar"
					},
					{
						"name": "lastPlatformSessionDate",
						"type": "varchar"
					},
					{
						"name": "leadOwner",
						"type": "varchar"
					},
					{
						"name": "sourceCode",
						"type": "varchar"
					},
					{
						"name": "sourceDetail",
						"type": "varchar"
					},
					{
						"name": "leadSource",
						"type": "varchar"
					},
					{
						"name": "leadStatus",
						"type": "varchar"
					},
					{
						"name": "engagementType",
						"type": "varchar"
					},
					{
						"name": "lastModified",
						"type": "varchar"
					},
					{
						"name": "communicationPreferences",
						"type": "varchar"
					},
					{
						"name": "companyName",
						"type": "varchar"
					},
					{
						"name": "companyCity",
						"type": "varchar"
					},
					{
						"name": "companyCountry",
						"type": "varchar"
					},
					{
						"name": "industry",
						"type": "varchar"
					},
					{
						"name": "website",
						"type": "varchar"
					},
					{
						"name": "platformAccountURL",
						"type": "varchar"
					},
					{
						"name": "accountCreatedDate",
						"type": "varchar"
					},
					{
						"name": "accountType",
						"type": "varchar"
					},
					{
						"name": "accountManager",
						"type": "varchar"
					},
					{
						"name": "accountBillingType",
						"type": "varchar"
					},
					{
						"name": "billingAddress",
						"type": "varchar"
					},
					{
						"name": "accountCurrency",
						"type": "varchar"
					},
					{
						"name": "accountCurrencySymbol",
						"type": "varchar"
					},
					{
						"name": "accountPrepayBalance",
						"type": "varchar"
					},
					{
						"name": "isWhiteLabel",
						"type": "varchar"
					},
					{
						"name": "isAffiliate",
						"type": "varchar"
					},
					{
						"name": "isDeleted",
						"type": "varchar"
					},
					{
						"name": "isBlocked",
						"type": "varchar"
					},
					{
						"name": "blockedDate",
						"type": "varchar"
					},
					{
						"name": "partnerAccount",
						"type": "varchar"
					},
					{
						"name": "howServiceUsed",
						"type": "varchar"
					},
					{
						"name": "lastMessageReceivedDate",
						"type": "varchar"
					},
					{
						"name": "isReferral",
						"type": "varchar"
					},
					{
						"name": "saasPackageType",
						"type": "varchar"
					},
					{
						"name": "saasPackageStartDate",
						"type": "varchar"
					},
					{
						"name": "isSWReferral",
						"type": "varchar"
					},
					{
						"name": "exportStatus",
						"type": "varchar"
					},
					{
						"name": "cs_Contact",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Filename",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "CRMCustomerValidation",
					"table": "CRMCustomerRaw"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CRMCustomerRawNamed')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('CRMCustomerDataLakeStorage')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					}
				},
				"folder": {
					"name": "CRMCustomerValidation"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "customerUniqueID",
						"type": "String"
					},
					{
						"name": "platformName",
						"type": "String"
					},
					{
						"name": "brandName",
						"type": "String"
					},
					{
						"name": "brandCountry",
						"type": "String"
					},
					{
						"name": "firstName",
						"type": "String"
					},
					{
						"name": "lastName",
						"type": "String"
					},
					{
						"name": "phoneNumber",
						"type": "String"
					},
					{
						"name": "mobileNumber",
						"type": "String"
					},
					{
						"name": "mobileVerified",
						"type": "String"
					},
					{
						"name": "contactEmail",
						"type": "String"
					},
					{
						"name": "language",
						"type": "String"
					},
					{
						"name": "lastPlatformSessionDate",
						"type": "String"
					},
					{
						"name": "leadOwner",
						"type": "String"
					},
					{
						"name": "sourceCode",
						"type": "String"
					},
					{
						"name": "sourceDetail",
						"type": "String"
					},
					{
						"name": "leadSource",
						"type": "String"
					},
					{
						"name": "leadStatus",
						"type": "String"
					},
					{
						"name": "engagementType",
						"type": "String"
					},
					{
						"name": "lastModified",
						"type": "String"
					},
					{
						"name": "communicationPreferences",
						"type": "String"
					},
					{
						"name": "companyName",
						"type": "String"
					},
					{
						"name": "companyCity",
						"type": "String"
					},
					{
						"name": "companyCountry",
						"type": "String"
					},
					{
						"name": "industry",
						"type": "String"
					},
					{
						"name": "website",
						"type": "String"
					},
					{
						"name": "platformAccountURL",
						"type": "String"
					},
					{
						"name": "accountCreatedDate",
						"type": "String"
					},
					{
						"name": "accountType",
						"type": "String"
					},
					{
						"name": "accountManager",
						"type": "String"
					},
					{
						"name": "accountBillingType",
						"type": "String"
					},
					{
						"name": "billingAddress",
						"type": "String"
					},
					{
						"name": "accountCurrency",
						"type": "String"
					},
					{
						"name": "accountCurrencySymbol",
						"type": "String"
					},
					{
						"name": "accountPrepayBalance",
						"type": "String"
					},
					{
						"name": "isWhiteLabel",
						"type": "String"
					},
					{
						"name": "isAffiliate",
						"type": "String"
					},
					{
						"name": "isDeleted",
						"type": "String"
					},
					{
						"name": "isBlocked",
						"type": "String"
					},
					{
						"name": "blockedDate",
						"type": "String"
					},
					{
						"name": "partnerAccount",
						"type": "String"
					},
					{
						"name": "howServiceUsed",
						"type": "String"
					},
					{
						"name": "lastMessageReceivedDate",
						"type": "String"
					},
					{
						"name": "isReferral",
						"type": "String"
					},
					{
						"name": "saasPackageType",
						"type": "String"
					},
					{
						"name": "saasPackageStartDate",
						"type": "String"
					},
					{
						"name": "isSWReferral",
						"type": "String"
					},
					{
						"name": "exportStatus",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CRMCustomerNamed')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('CRMCustomerDataLakeStorage')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					}
				},
				"folder": {
					"name": "CRMCustomerValidation"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": "CRMCustomerValidationProd",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "customerUniqueID",
						"type": "String"
					},
					{
						"name": "platformName",
						"type": "String"
					},
					{
						"name": "brandName",
						"type": "String"
					},
					{
						"name": "brandCountry",
						"type": "String"
					},
					{
						"name": "firstName",
						"type": "String"
					},
					{
						"name": "lastName",
						"type": "String"
					},
					{
						"name": "phoneNumber",
						"type": "String"
					},
					{
						"name": "mobileNumber",
						"type": "String"
					},
					{
						"name": "mobileVerified",
						"type": "String"
					},
					{
						"name": "contactEmail",
						"type": "String"
					},
					{
						"name": "language",
						"type": "String"
					},
					{
						"name": "lastPlatformSessionDate",
						"type": "String"
					},
					{
						"name": "leadOwner",
						"type": "String"
					},
					{
						"name": "sourceCode",
						"type": "String"
					},
					{
						"name": "sourceDetail",
						"type": "String"
					},
					{
						"name": "leadSource",
						"type": "String"
					},
					{
						"name": "leadStatus",
						"type": "String"
					},
					{
						"name": "engagementType",
						"type": "String"
					},
					{
						"name": "lastModified",
						"type": "String"
					},
					{
						"name": "communicationPreferences",
						"type": "String"
					},
					{
						"name": "companyName",
						"type": "String"
					},
					{
						"name": "companyCity",
						"type": "String"
					},
					{
						"name": "companyCountry",
						"type": "String"
					},
					{
						"name": "industry",
						"type": "String"
					},
					{
						"name": "website",
						"type": "String"
					},
					{
						"name": "platformAccountURL",
						"type": "String"
					},
					{
						"name": "accountCreatedDate",
						"type": "String"
					},
					{
						"name": "accountType",
						"type": "String"
					},
					{
						"name": "accountManager",
						"type": "String"
					},
					{
						"name": "accountBillingType",
						"type": "String"
					},
					{
						"name": "billingAddress",
						"type": "String"
					},
					{
						"name": "accountCurrency",
						"type": "String"
					},
					{
						"name": "accountCurrencySymbol",
						"type": "String"
					},
					{
						"name": "accountPrepayBalance",
						"type": "String"
					},
					{
						"name": "isWhiteLabel",
						"type": "String"
					},
					{
						"name": "isAffiliate",
						"type": "String"
					},
					{
						"name": "isDeleted",
						"type": "String"
					},
					{
						"name": "isBlocked",
						"type": "String"
					},
					{
						"name": "blockedDate",
						"type": "String"
					},
					{
						"name": "partnerAccount",
						"type": "String"
					},
					{
						"name": "howServiceUsed",
						"type": "String"
					},
					{
						"name": "lastMessageReceivedDate",
						"type": "String"
					},
					{
						"name": "isReferral",
						"type": "String"
					},
					{
						"name": "saasPackageType",
						"type": "String"
					},
					{
						"name": "saasPackageStartDate",
						"type": "String"
					},
					{
						"name": "isSWReferral",
						"type": "String"
					},
					{
						"name": "exportStatus",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		}
	]
}